.feature-list {
  display: flex;
  & .item {
    max-width: 270px;
  }
  & .item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-div {
  width: 270px;
  height: 120px;
  @extend %flex-center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.subtitle-feature {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}
